[Interface]
{% if wireguard_unmanaged_peers[item].private_key is defined %}
PrivateKey = {{ wireguard_unmanaged_peers[item].private_key }}
{% endif %}
{% if wireguard_unmanaged_peers[item].address is defined %}
Address = {{ wireguard_unmanaged_peers[item].address }}
{% endif %}
{% if wireguard_unmanaged_peers[item].server_dns is defined %}
DNS = {{ wireguard_unmanaged_peers[item].server_dns }}
{% endif %}

[Peer]
{% if wireguard_public_key is defined %}
PublicKey = {{ wireguard_public_key }}
{% endif %}
{% if wireguard_preshared_keys[item] is defined %}
PresharedKey = {{ wireguard_preshared_keys[item] }}
{% endif %}
{% if wireguard_unmanaged_peers[item].server_endpoint is defined %}
Endpoint = {{ wireguard_unmanaged_peers[item].server_endpoint }}
{% endif %}
{% if wireguard_unmanaged_peers[item].server_allowed_ips is defined %}
AllowedIPs = {{ wireguard_unmanaged_peers[item].server_allowed_ips }}
{% endif %}
